---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/mentions_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="JxkIvuSUOVvBPzQrOEhN5pcVW", oauth_nonce="86c476a0d93f1128a50bbf8cf51ee7c0",
        oauth_signature="m%2FFqOsViZ4N9EMGIqxw2wJrMmCk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441564241", oauth_token="3394083203-Tu0Kj42rOnlmqZp3iUt1bqXokTqNkFHSavyDtxS",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 06 Sep 2015 18:30:43 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - ab5aa3c215eae60f94ebf500474c6aed
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1441565143'
      X-Response-Time:
      - '53'
      X-Transaction:
      - 6d686e23a1ba08ce
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Sep 04 17:58:53 +0000 2015","id":639860198149066753,"id_str":"639860198149066753","text":"@InfractoresBA
        #infractoresba pruebaaaa http:\/\/t.co\/fA5HNnk44t","source":"\u003ca href=\"http:\/\/twitter.com\/download\/android\"
        rel=\"nofollow\"\u003eTwitter for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":3394083203,"in_reply_to_user_id_str":"3394083203","in_reply_to_screen_name":"InfractoresBA","user":{"id":3407824534,"id_str":"3407824534","name":"c3p0","screen_name":"ombuc3p0","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Fri
        Aug 07 21:17:32 +0000 2015","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":11,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_2_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_2_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":{"type":"Point","coordinates":[-34.5827922,-58.4397805]},"coordinates":{"type":"Point","coordinates":[-58.4397805,-34.5827922]},"place":{"id":"018f1cde6bad9747","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/018f1cde6bad9747.json","place_type":"city","name":"Ciudad
        Aut\u00f3noma de Buenos Aires","full_name":"Ciudad Aut\u00f3noma de Buenos
        Aires, Argentina","country_code":"AR","country":"Argentina","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[-58.5317922,-34.674453],[-58.353494,-34.674453],[-58.353494,-34.534177],[-58.5317922,-34.534177]]]},"attributes":{}},"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"infractoresba","indices":[15,29]}],"symbols":[],"user_mentions":[{"screen_name":"InfractoresBA","name":"Infractores
        de BA","id":3394083203,"id_str":"3394083203","indices":[0,14]}],"urls":[],"media":[{"id":639860196970504192,"id_str":"639860196970504192","indices":[40,62],"media_url":"http:\/\/pbs.twimg.com\/media\/COE9dYJWoAALax9.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/COE9dYJWoAALax9.jpg","url":"http:\/\/t.co\/fA5HNnk44t","display_url":"pic.twitter.com\/fA5HNnk44t","expanded_url":"http:\/\/twitter.com\/ombuc3p0\/status\/639860198149066753\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":453,"resize":"fit"},"large":{"w":720,"h":960,"resize":"fit"},"medium":{"w":600,"h":800,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"}}}]},"extended_entities":{"media":[{"id":639860196970504192,"id_str":"639860196970504192","indices":[40,62],"media_url":"http:\/\/pbs.twimg.com\/media\/COE9dYJWoAALax9.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/COE9dYJWoAALax9.jpg","url":"http:\/\/t.co\/fA5HNnk44t","display_url":"pic.twitter.com\/fA5HNnk44t","expanded_url":"http:\/\/twitter.com\/ombuc3p0\/status\/639860198149066753\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":453,"resize":"fit"},"large":{"w":720,"h":960,"resize":"fit"},"medium":{"w":600,"h":800,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"es"},{"created_at":"Fri
        Sep 04 12:28:45 +0000 2015","id":639777116792455168,"id_str":"639777116792455168","text":"@infractoresba
        auto estacionado en parada de colectivo. Avil\u00e9s y Zapiola, CABA http:\/\/t.co\/IEKNaySI8s","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":3394[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23InfractoresBA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="JxkIvuSUOVvBPzQrOEhN5pcVW", oauth_nonce="326195e484e886dbd2be6cb077030ccb",
        oauth_signature="bK%2FZMJIgDTiB0%2BPsMpWc0%2FDwz0k%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1441564242", oauth_token="3394083203-Tu0Kj42rOnlmqZp3iUt1bqXokTqNkFHSavyDtxS",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 06 Sep 2015 18:30:44 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - c7c1ea3103aff7f0fb92b465d34810c2
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1441564746'
      X-Response-Time:
      - '74'
      X-Transaction:
      - f98c1eda77caa24a
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"es","result_type":"recent"},"created_at":"Fri
        Sep 04 17:58:53 +0000 2015","id":639860198149066753,"id_str":"639860198149066753","text":"@InfractoresBA
        #infractoresba pruebaaaa http:\/\/t.co\/fA5HNnk44t","source":"\u003ca href=\"http:\/\/twitter.com\/download\/android\"
        rel=\"nofollow\"\u003eTwitter for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":3394083203,"in_reply_to_user_id_str":"3394083203","in_reply_to_s[...]
