---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/mentions_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 11 Dec 2015 20:12:41 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 1c94897d8c9b2baead8b26e21ac0ba02
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1449865661'
      X-Response-Time:
      - '293'
      X-Transaction:
      - 967196bc5a16c54e
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Nov 26 12:58:59 +0000 2015","id":669862917542707200,"id_str":"669862917542707200","text":"\"Tranqui,
        estacion\u00e1 donde quieras. Igual qui\u00e9n viaja en el 168. \" \/cc @InfractoresBA
        https:\/\/t.co\/9klDwZhrSl","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":213085472,"id_str":"213085472","name":"Ernesto
        Tagwerker","screen_name":"_nesto","location":"","description":"Fundador de
        @Ombu_Shop","url":"https:\/\/t.co\/ecOZm9X05A","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/ecOZm9X05A","expanded_url":"http:\/\/www.ombushop.com","display_url":"ombushop.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":714,"friends_count":511,"listed_count":50,"created_at":"Sun
        Nov 07 22:54:00 +0000 2010","favourites_count":6074,"utc_offset":-10800,"time_zone":"Buenos
        Aires","geo_enabled":true,"verified":false,"statuses_count":12614,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/169568791\/IMG_1057.JPG","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/169568791\/IMG_1057.JPG","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/530065924309544960\/TUr9uuWN_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/530065924309544960\/TUr9uuWN_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/213085472\/1361387227","profile_link_color":"94D487","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":{"type":"Point","coordinates":[-34.57137013,-58.45736986]},"coordinates":{"type":"Point","coordinates":[-58.45736986,-34.57137013]},"place":{"id":"018f1cde6bad9747","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/018f1cde6bad9747.json","place_type":"city","name":"Ciudad
        Aut\u00f3noma de Buenos Aires","full_name":"Ciudad Aut\u00f3noma de Buenos
        Aires, Argentina","country_code":"AR","country":"Argentina","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[-58.5317922,-34.674453],[-58.353494,-34.674453],[-58.353494,-34.534177],[-58.5317922,-34.534177]]]},"attributes":{}},"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":3,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"InfractoresBA","name":"Infractores
        de BA","id":3394083203,"id_str":"3394083203","indices":[70,84]}],"urls":[],"media":[{"id":669862901906333697,"id_str":"669862901906333697","indices":[85,108],"media_url":"http:\/\/pbs.twimg.com\/media\/CUvUwpxW4AEXjdc.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CUvUwpxW4AEXjdc.jpg","url":"https:\/\/t.co\/9klDwZhrSl","display_url":"pic.twitter.com\/9klDwZhrSl","expanded_url":"http:\/\/twitter.com\/_nesto\/status\/669862917542707200\/photo\/1","type":"photo","sizes":{"large":{"w":1024,"h":768,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":450,"resize":"fit"},"small":{"w":340,"h":255,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":669862901906333697,"id_str":"669862901906333697","indices":[85,108],"media_url":"http:\/\/pbs.twimg.com\/media\/CUvUwpxW4AEXjdc.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CUvUwpxW4AEXjdc.jpg","url":"https:\/\/t.co\/9klDwZhrSl","display_url":"pic.twitter.com\/9klDwZhrSl","expanded_url":"http:\/\/twitter.com\/_nesto\/status\/669862917542707200\/photo\/1","type":"photo","sizes":{"large":{"w":1024,"h":768,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":450,"resize":"fit"},"small":{"w":340,"h":255,"resize":"fit"}}},{"id":669862901906350080,"id_str":"669862901906350080","indices":[85,108],"media_url":"http:\/\/pbs.twimg.com\/media\/CUvUwpxXIAAy5TK.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CUvUwpxXIAAy5TK.jpg","url":"https:\/\/t.co\/9klDwZhrSl","display_url":"pic.twitter.com\/9klDwZhrSl","expanded_url":"http:\/\/twitter.com\/_nesto\/status\/669862917542707200\/photo\/1","type":"photo","sizes":{"medium":{"w":600,"h":800,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":453,"resize":"fit"},"large":{"w":768,"h":1024,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"es"},{"created_at":"Fri
        Oct 23 15:01:27 +0000 2015","id":657572549992296448,"id_str":"657572549992296448","text":"@InfractoresBA
        https:\/\/t.co\/mu89JhXxoa","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":3394083203,"in_reply_to_user_id_str":"3394083203","in_reply_to_screen_name":"Inf[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23InfractoresBA%20-rt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 11 Dec 2015 20:12:42 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - b69db5f678e95205b180e9be4e3363c0
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1449865662'
      X-Response-Time:
      - '172'
      X-Transaction:
      - d45eca596a8c31d1
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[],"search_metadata":{"completed_in":0.035,"max_id":675407795903139840,"max_id_str":"675407795903139840","query":"%23InfractoresBA+-rt","refresh_url":"?since_id=675407795903139840&q=%23InfractoresBA%20-rt&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Fri, 11 Dec 2015 20:12:42 GMT
recorded_with: VCR 2.9.3
