---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=InfractoresBA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="siHVF5jYcbwQ5PTpfJBc7evoS", oauth_nonce="87fe4bc28b1cf726d9db6b94af771cc8",
        oauth_signature="aLsUAWo%2B84FuMuAFc2x%2B%2BT3i054%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446570351", oauth_token="304086598-jfONgMio2voyHPXuVfbGp7LJzhgSZnBrg8eXWEpe",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 03 Nov 2015 17:05:52 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 6bcf0ccb72c1a3406ad03023a6950be1
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1446571252'
      X-Response-Time:
      - '52'
      X-Transaction:
      - 1c0846e41edd1327
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Wed Oct 07 00:50:48 +0000 2015","id":651560271631269888,"id_str":"651560271631269888","text":"RT
        @etagwerker: @InfractoresBA Virrey Avil\u00e9s y Moldes. Patente: IKI996 http:\/\/t.co\/ysJmHVcbQC","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3394083203,"id_str":"3394083203","name":"Infractores
        de BA","screen_name":"InfractoresBA","location":"Argentina","description":"Escrachando
        infractores desde 2015","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":2,"friends_count":3,"listed_count":0,"created_at":"Wed
        Jul 29 16:23:27 +0000 2015","favourites_count":2,"utc_offset":-10800,"time_zone":"Buenos
        Aires","geo_enabled":false,"verified":false,"statuses_count":8,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"352726","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme5\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme5\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/626446080654331905\/D6sxxJpo_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/626446080654331905\/D6sxxJpo_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3394083203\/1441023938","profile_link_color":"D02B55","profile_sidebar_border_color":"829D5E","profile_sidebar_fill_color":"99CC33","profile_text_color":"3E4415","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Sun
        Oct 04 01:36:01 +0000 2015","id":650484484278747136,"id_str":"650484484278747136","text":"@InfractoresBA
        Virrey Avil\u00e9s y Moldes. Patente: IKI996 http:\/\/t.co\/ysJmHVcbQC","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":650484245950021632,"in_reply_to_status_id_str":"650484245950021632","in_reply_to_user_id":17032014,"in_reply_to_user_id_str":"17032014","in_reply_to_screen_name":"etagwerker","user":{"id":17032014,"id_str":"17032014","name":"Ernesto
        Tagwerker","screen_name":"etagwerker","location":"","description":"Founder
        @OmbuLabs, The Lean Software Boutique","url":"http:\/\/t.co\/ZZi4U2AWwr","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/ZZi4U2AWwr","expanded_url":"http:\/\/www.ombulabs.com","display_url":"ombulabs.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":879,"friends_count":368,"listed_count":69,"created_at":"Wed
        Oct 29 00:13:29 +0000 2008","favourites_count":1834,"utc_offset":-10800,"time_zone":"Buenos
        Aires","geo_enabled":true,"verified":false,"statuses_count":8812,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"B2DFDA","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/171163794\/IMG_1002.JPG","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/171163794\/IMG_1002.JPG","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/559380312317108224\/io2jBKOz_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/559380312317108224\/io2jBKOz_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/17032014\/1364721795","profile_link_color":"DD2E44","profile_sidebar_border_color":"EEEEEE","profile_sidebar_fill_color":"FFFFFF","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":{"type":"Point","coordinates":[-34.56893784,-58.45467282]},"coordinates":{"type":"Point","coordinates":[-58.45467282,-34.56893784]},"place":{"id":"018f1cde6bad9747","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/018f1cde6bad9747.json","place_type":"city","name":"Ciudad
        Aut\u00f3noma de Buenos Aires","full_name":"Ciudad Aut\u00f3noma de Buenos
        Aires, Argentina","country_code":"AR","country":"Argentina","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[-58.5317922,-34.674453],[-58.353494,-34.674453],[-58.353494,-34.534177],[-58.5317922,-34.534177]]]},"attributes":{}},"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"InfractoresBA","name":"Infractores
        de BA","id":3394083203,"id_str":"3394083203","indices":[0,14]}],"urls":[],"media":[{"id":650484462363484160,"id_str":"650484462363484160","indices":[55,77],"media_url":"http:\/\/pbs.twimg.com\/media\/CQb8LA8WIAA33-V.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CQb8LA8WIAA33-V.jpg","url":"http:\/\/t.co\/ysJmHVcbQC","display_url":"pic.twitter.com\/ysJmHVcbQC","expanded_url":"http:\/\/twitter.com\/etagwerker\/status\/650484484278747136\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":255,"resize":"fit"},"medium":{"w":600,"h":450,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1024,"h":768,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":650484462363484160,"id_str":"650484462363484160","indices":[55,77],"media_url":"http:\/\/pbs.twimg.com\/media\/CQb8LA8WIAA33-V.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CQb8LA8WIAA33-V.jpg","url":"http:\/\/t.co\/ysJmHVcbQC","display_url":"pic.twitter.com\/ysJmHVcbQC","expanded_url":"http:\/\/twitter.com\/etagwerker\/status\/650484484278747136\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":255,"resize":"fit"},"medium":{"w":600,"h":450,"resize":"fit"},"thumb"[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23InfractoresBA%20-rt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="siHVF5jYcbwQ5PTpfJBc7evoS", oauth_nonce="81ed0dc39e0c0220a88a3d71981cd9fb",
        oauth_signature="L1mHnjPv%2BhhcNrO1%2Ftt0%2B3xuHLI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446570352", oauth_token="304086598-jfONgMio2voyHPXuVfbGp7LJzhgSZnBrg8eXWEpe",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 03 Nov 2015 17:05:53 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 18347735d13db37abbd359ec563a1868
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1446571253'
      X-Response-Time:
      - '40'
      X-Transaction:
      - 5f14c7dc5022bbe2
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"es","result_type":"recent"},"created_at":"Tue
        Nov 03 11:37:17 +0000 2015","id":661507435144835072,"id_str":"661507435144835072","text":"#InfractoresBA
        diiioooos miioooos https:\/\/t.co\/ldzunZ7UcB","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"use[...]
