<h2>Infracciones</h2>

<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="span12">
    <ul class="span8 infractiones">
      <% @infractions.each do |infraction| %>
        <li class="infraction span12 <%= cycle('odd', 'even') %>">
          <%= render 'infractions/summary', infraction: infraction %>
        </li>
      <% end %>
    </ul>
  </div>
</div><!-- /.row -->
