<div class="list-container">
  <div class="span12">
    <ul class="span8 infractions">
      <% @infractions.each do |infraction| %>
        <li id="infraccion-<%= infraction.id %>" class="infraction span12 <%= cycle('odd', 'even') %>">
          <%= render 'infractions/summary', infraction: infraction %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="main-map">
  <div class="map" id="map_canvas_main"></div>
  <script>
    var infractionMarkers = <%= raw @infraction_markers.to_json %>;
  </script>
</div>
<!-- /.row -->
