---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/mentions_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 15 Apr 2016 14:19:54 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 34b129d80fb4c6517914d21c955cfbe2
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '12'
      X-Rate-Limit-Reset:
      - '1460730654'
      X-Response-Time:
      - '254'
      X-Transaction:
      - af3bdf1efd96c022
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Apr 08 14:19:42 +0000 2016","id":718443202869596161,"id_str":"718443202869596161","text":"@celestineia
        @runixo reportalo con la app oficial de GCBA o tuiteale a @InfractoresBA con
        geolocalizaci\u00f3n activada y un par de fotos","entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"celestineia","name":"Tineia","id":39421915,"id_str":"39421915","indices":[0,12]},{"screen_name":"runixo","name":"runixo","id":14147237,"id_str":"14147237","indices":[13,20]},{"screen_name":"InfractoresBA","name":"Infractores
        de BA","id":3394083203,"id_str":"3394083203","indices":[71,85]}],"urls":[]},"truncated":false,"source":"\u003ca
        href=\"http:\/\/twitter.com\/#!\/download\/ipad\" rel=\"nofollow\"\u003eTwitter
        for iPad\u003c\/a\u003e","in_reply_to_status_id":718442833338875904,"in_reply_to_status_id_str":"718442833338875904","in_reply_to_user_id":39421915,"in_reply_to_user_id_str":"39421915","in_reply_to_screen_name":"celestineia","user":{"id":213085472,"id_str":"213085472","name":"E
        r n e s t o","screen_name":"_nesto","location":"Buenos Aires","description":"Entreprenerd.
        Fundador de @Ombu_Shop. #LeanStartup Coach. Fan de #OpenSource y #OpenData","url":"https:\/\/t.co\/S8sQqTjVKw","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/S8sQqTjVKw","expanded_url":"https:\/\/github.com\/etagwerker","display_url":"github.com\/etagwerker","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":760,"friends_count":575,"listed_count":65,"created_at":"Sun
        Nov 07 22:54:00 +0000 2010","favourites_count":7208,"utc_offset":-10800,"time_zone":"Buenos
        Aires","geo_enabled":true,"verified":false,"statuses_count":13733,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/169568791\/IMG_1057.JPG","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/169568791\/IMG_1057.JPG","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/530065924309544960\/TUr9uuWN_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/530065924309544960\/TUr9uuWN_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/213085472\/1361387227","profile_link_color":"94D487","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"favorited":false,"retweeted":false,"lang":"es"},{"created_at":"Mon
        Apr 04 21:59:54 +0000 2016","id":717109467498876928,"id_str":"717109467498876928","text":"@celestineia
        @_nesto @m_vicent @pixelbeat @aerolab @acanohayluz @infractoresba no puedo
        validar q los casos d infeccion q me cargan son real","entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"celestineia","name":"Tineia","id":39421915,"id_str":"39421915","indices":[0,12]},{"screen_name":"_nesto","name":"E
        r n e s t o[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 15 Apr 2016 14:19:54 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connec[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23InfractoresBA%20-rt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 15 Apr 2016 14:19:55 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 26b0d5cf2d87dabc7914a29365ee8f4b
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1460730655'
      X-Response-Time:
      - '145'
      X-Transaction:
      - 8613d9f6f4af85e1
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[],"search_metadata":{"completed_in":0.008,"max_id":720979891999666177,"max_id_str":"720979891999666177","query":"%23InfractoresBA+-rt","refresh_url":"?since_id=720979891999666177&q=%23InfractoresBA%20-rt&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Fri, 15 Apr 2016 14:19:56 GMT
recorded_with: VCR 2.9.3
