---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 15 Apr 2016 14:15:53 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - c0f69f2665ccc66bd58b66538d077411
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '12'
      X-Rate-Limit-Reset:
      - '1460729929'
      X-Response-Time:
      - '201'
      X-Transaction:
      - 30cee5f01bb67ddd
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":3394083203,"id_str":"3394083203","name":"Infractores de BA","screen_name":"InfractoresBA","location":"Buenos
        Aires, Argentina","description":"Escrachando infractores desde 2015","url":"https:\/\/t.co\/xSmyRATKXR","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/xSmyRATKXR","expanded_url":"http:\/\/www.infractoresba.com.ar","display_url":"infractoresba.com.ar","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":6,"friends_count":3,"listed_count":0,"created_at":"Wed
        Jul 29 16:23:27 +0000 2015","favourites_count":4,"utc_offset":-10800,"time_zone":"Buenos
        Aires","geo_enabled":false,"verified":false,"statuses_count":10,"lang":"en","status":{"created_at":"Mon
        Apr 04 23:25:47 +0000 2016","id":717131080218845184,"id_str":"717131080218845184","text":"RT
        @_nesto: La gente que estaciona as\u00ed es un peligro @InfractoresBA https:\/\/t.co\/DGNfrQvopZ","entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"_nesto","name":"E
        r n e s t o","id":213085472,"id_str":"213085472","indices":[3,10]},{"screen_name":"InfractoresBA","name":"Infractores
        de BA","id":3394083203,"id_str":"3394083203","indices":[53,67]}],"urls":[],"media":[{"id":717023915835531270,"id_str":"717023915835531270","indices":[68,91],"media_url":"http:\/\/pbs.twimg.com\/media\/CfNhc9bWIAY595g.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CfNhc9bWIAY595g.jpg","url":"https:\/\/t.co\/DGNfrQvopZ","display_url":"pic.twitter.com\/DGNfrQvopZ","expanded_url":"http:\/\/twitter.com\/_nesto\/status\/717023979454771201\/photo\/1","type":"photo","sizes":{"large":{"w":1024,"h":768,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":450,"resize":"fit"},"small":{"w":340,"h":255,"resize":"fit"}},"source_status_id":717023979454771201,"source_status_id_str":"717023979454771201","source_user_id":213085472,"source_user_id_str":"213085472"}]},"extended_entities":{"media":[{"id":717023915835531270,"id_str":"717023915835531270","indices":[68,91],"media_url":"http:\/\/pbs.twimg.com\/media\/CfNhc9bWIAY595g.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CfNhc9bWIAY595g.jpg","url":"https:\/\/t.co\/DGNfrQvopZ","display_url":"pic.twitter.com\/DGNfrQvopZ","expanded_url":"http:\/\/twitter.com\/_nesto\/status\/717023979454771201\/photo\/1","type":"photo","sizes":{"large":{"w":1024,"h":768,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":[...]
