/* Colors */

$light_yellow: #F9F7EF;
$yellow: #FCE67A;
$blue: #253956;
$light_blue: #C7E2E5;
$dark_grey: #414141;
$light_grey: #969696;
$black: #1C1C1C;
$white: #fff;
$red: #F7685C;
$light_red: #FFDCD9;
