.container.infractions {
  ul li {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    list-style-type: none;

    a, span {
      position: relative;
      float: left;
    }

    &.odd {
      background-color: #f7f7f9;
      border: 1px solid #e1e1e8;
    }

    &.even {
      border: 1px solid #e1e1e8;
    }

  }

  h2 {
    font-size: 3em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  div.details {
    a {
      padding-right: 3px;
      display: inline-block;
    }
  }

  span.description {
    padding: 1em;

    a { padding-right: 3px; }
  }

  .map {
    width: 300px;
    height: 300px;
    position: relative;
    float: right;
  }
}

.container.infractions-show {
  img {
    padding: 1em;
    margin: 0.2em;
  }

  .detail {
    padding: 1em;
    border: 1px solid #CCC;
    margin-bottom: 1em;
  }

  .row.bordered {
    border: 1px solid #CCC;
  }

  .map {
    margin-right: 1em;
    margin-top: 1em;
  }
}
